@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
.quicksand-font-1 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.raleway-font-2 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.menu {
  visibility: hidden;
}
/* shure offtion by css */
.font-valu-1 {
  max-width: 1250px;
  margin: 0 auto;
}
.display-grid {
  display: grid;
}
.display-flex {
  display: flex;
}
.align-next {
  text-align: center;
  align-items: center;
}
.dark-1 {
  color: rgba(0, 0, 0, 1);
}
.nav-font {
  font-size: 1.2rem;
}
.nav-weight {
  font-weight: 500;
}
.praimary-btn {
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  padding: 10px 60px;
  background-color: rgba(254, 163, 1, 1);
  border: 0;
  border-radius: 10px;
}

/* navber-styles */
.navber {
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
}
.school-bag {
  justify-items: flex-start;
}
.logo-pic {
  width: 62px;
  height: 62px;
  margin-right: 10%;
}
.school {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 17px;
}
.nav-items ul {
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  gap: 30px;
}
.nav-items ul li a {
  text-decoration: none;
}
.home {
  color: rgba(254, 163, 1, 1);
  font-weight: 700;
}
.about {
  color: rgba(1, 172, 253, 1);
}
.facilities {
  color: rgba(5, 212, 223, 1);
}
.admission {
  color: rgba(93, 88, 239, 1);
}
.menu {
  visibility: hidden;
}
/* header-styles */


@media screen and (max-width: 592px) {
  .nav-items ul {
    grid-template-columns: repeat(1, 1fr);
    justify-items: flex-end;
    /* this margin so taf */
    margin-left: 100%;
  }
  .school,
  ul li,
  .praimary-btn {
    display: none;
  }
  .menu {
    visibility: visible;
    color: rgba(17, 17, 17, 1);
    width: 70px;
    height: 50px;
  }
}
