@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
.quicksand-font-1 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.raleway-font-2 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.menu {
  visibility: hidden;
}
/* shure offtion by css */
.font-valu-1 {
  max-width: 1250px;
  margin: 0 auto;
}
.display-grid {
  display: grid;
}
.display-flex {
  display: flex;
}
.align-next {
  text-align: center;
  align-items: center;
}
.dark-1 {
  color: rgba(0, 0, 0, 1);
}
.nav-font {
  font-size: 1.2rem;
}
.nav-weight {
  font-weight: 500;
}
.praimary-btn {
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  padding: 10px 60px;
  background-color: rgba(254, 163, 1, 1);
  border: 0;
  border-radius: 10px;
}
.conatact-btn {
  margin-left: 180px;
}

/* navber-styles */
.navber {
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
}
.school-bag {
  justify-items: flex-start;
}
.logo-pic {
  width: 62px;
  height: 62px;
  margin-right: 2%;
}
.school {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 17px;
}
.nav-items ul {
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  gap: 30px;
}
.nav-items ul li a {
  text-decoration: none;
}
.home {
  color: rgba(254, 163, 1, 1);
  font-weight: 700;
}
.about {
  color: rgba(1, 172, 253, 1);
}
.facilities {
  color: rgba(5, 212, 223, 1);
}
.admission {
  color: rgba(93, 88, 239, 1);
}
.menu {
  visibility: hidden;
}
/* header-styles */
.towards_vision {
  justify-content: space-between;
  margin-top: 20px;
}
.header-container {
  width: 640px;
  gap: 50px;
  margin-top: 120px;
}
.students-title {
  font-size: 3.5rem;
  font-weight: 700;
  width: 640px;
  height: 183px;
}
.Empowering {
  color: rgba(254, 163, 1, 1);
}
.towards-vision {
  color: rgba(1, 172, 253, 1);
}
.description_header {
  color: rgba(17, 17, 17, 1);
  font-size: 1.25rem;
  font-weight: 400;
}
.btn-Enroll {
  color: rgba(255, 255, 255, 1);
  font-size: 1.2rem;
  padding: 10px 47px;
  background-color: rgba(17, 17, 17, 1);
  border: 0;
  border-radius: 10px;
  margin-top: 15px;
}
.hero-img {
  width: 470px;
}
/* main_Standard-Curriculum */
.section-standard {
  background-image: url("../assets/bg.png");
  /* margin-top: 60px; */
  margin-bottom: 200px;
}
.Standard-Curriculum {
  font-size: 2.8rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  margin-bottom: 80px;
}
.card_container {
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.curriculum-card {
  border: 0;
  border-radius: 10px;
  box-shadow: 0px 0px 280.3px 0.94px rgba(0, 0, 0, 0.05);
  width: 350px;
  height: 420px;
  text-align: center;
  align-items: center;
}
.color-1 {
  background-color: white;
  background: linear-gradient(rgb(229, 247, 255), white);
}
.color-2 {
  background-color: white;
  background: linear-gradient(rgb(250, 243, 228), white);
}
.color-3 {
  background-color: white;
  background: linear-gradient(rgb(245, 237, 255), white);
}
.curriculum-card img {
  margin-top: 50px;
  width: 135px;
  height: 135px;
}
.card-title {
  color: rgba(32, 32, 32, 1);
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 32px;
  margin-bottom: 0px;
}
.card-description {
  color: rgba(128, 128, 128, 1);
  font-size: 0.93rem;
  font-weight: 500;
  width: 270px;
  height: 70px;
  margin-left: 40px;
}
.read {
  font-size: 1rem;
  font-weight: 700;
  border: none;
  background: none;
}
.read1 {
  color: rgba(100, 200, 255, 1);
}
.read2 {
  color: rgba(240, 170, 0, 1);
}
.read3 {
  color: rgba(135, 0, 255, 1);
}
.arrow{
  margin-top: 80px;
  align-items: center;
  text-align: center;
}
.arrow span{
  border:0;
  border-radius: 50%;
  color: #ffff;
  background-color: rgba(254, 163, 1, 1);
  padding: 20px;
}
/* <!-- Our Stories --> */
.stories{
  color: rgba(0, 0, 0, 1);
  font-size: 2.8rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 80px;
}
.stories-container{
  grid-template-columns:repeat(3, 2fr);
  justify-items: end;
}
.sub-container{
  grid-template-columns: repeat(2,1fr);
  justify-items: end;
  margin-top: -200px; 
}
.over-pic img{
  /* border: 1px;
  box-shadow:0px 0px 280.3px 0.94px rgba(0, 0, 0, 0.05);
  border-radius: 10px; */
  border: 0;
  border-radius: 10px;
}
.title-over-pic{
  color: rgba(0, 0, 0, 1);
  font-size: 1.5rem;
  font-weight: 700;
}
.over-pic-description{
  color: rgba(102, 102, 102, 1);
  font-size: 1rem;
  font-weight: 500;
}
.card-sub{
  margin-left: 605px;
}






@media screen and (max-width: 592px) {
  .nav-items ul{
    grid-template-columns: repeat(5, 2fr);
    justify-items: flex-end;
    /* this margin so taf */
    margin-left: 100%;
  }
  .school,
  ul li,
  .praimary-btn {
    display: none;
  }
  .menu {
    visibility: visible;
    color: rgba(17, 17, 17, 1);
    width: 70px;
    height: 50px;
  }
  .towards_vision {
    flex-direction: column-reverse;
    width: 100%;
  }
  /*  <!--header-styles --> */
  .header-container {
    width: 100%;
    height: 100%;
    margin-top: 5px;
  }
  .students-title {
    width: 100%;
    height: 50%;
    text-align: center;
    font-size: 2rem;
  }
  .description_header {
    text-align: center;
    align-items: center;
    font-size: 0.87rem;
  }
  .btn-Enroll {
    margin-left: 25%;
  }
  .hero-img img {
    width: 80%;
    margin-left: 10px;
    margin-bottom: 50px;
  }
  /*  <!-- Standard-Curriculum --> */
  .card_container{
    grid-template-columns: repeat(1, 1fr);
    margin-left: 25px;
  }
}
